* {
    box-sizing: border-box;
}

html, body, #root{
    min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root, .content {
    display: flex;
}

#root{
    flex-direction: column;
}

.header{
    text-align: center;
    user-select: none;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 20px;
}

.content{
    flex-direction: column;
    flex-grow: 2;
    align-items: center;
}

.footer{
    border-top: 1px black solid;
    text-align: center;
}

.add-list{
    display: flex;
    flex-direction:column;
    max-width:100%;
}

.add-selection{
    margin-bottom: 5px;
}


.add-list-entry{
    height:43px;
    transition: height 0.5s linear;
    overflow:hidden;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.add-list-label{
   font-size: 24px;
   line-height: 32px;
}

.add-list-input{
   font-size: 26px;
   line-height: 32px;
   margin-bottom: 5px;
   flex-grow:2;
}

.list-container{
    background: #C6D0DB;
    width: 500px;
    border: 1px black solid;
    border-radius: 10px;
    margin-top: 20px;
    max-width:100%;
}

.list-container > .elements{
    padding-bottom:25px;
}

.list-container-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-container-title-text{
    color: white;
    font-size:32px;
    line-height: 40px;
    width: 100%;
    padding-left: 1em;
    word-break: break-word;
}

.remove-list-container-button{
    color: black;
    border-style: none;
    background:none;
    outline: 0;
    box-shadow: none;
}

.list-add-button{
    color: white;
    border: 0px transparent solid;
    border-top: 1px black solid;
    border-radius: 0 0 10px 10px;
    width:100%;
    background:none;
    outline: 0;
    box-shadow: none;

}

.elements{
    min-height:2em;
}

.element{
    display:flex;
    flex-direction:column;

    width: 100%;
    overflow:hidden;
}
.element-title{
    width:100%;
    border-bottom: 1px black solid;
    display: flex;
    flex-direction: row;
    background: #69728A;
    color: white;
    word-break: break-word;
}

.element-depth-marker{
    user-select: none;
    padding: 0 0.5em;
    border-right: 1px gray solid;
}

.element-title-text{
    flex-grow:2;
    word-break: break-word;
}

.element-body{
    color: white;
    background: #A2B4C6;
    transition: min-height 0.5s linear;
    
}

.element-body-text{
    flex-grow:2;
    word-break: break-word;
    min-height: 1em;
    padding: 0 5px;
}

.gu-transit {
    pointer-events: none;
}

.hidden{
    height: 0;
}

.add-element-button{
    color: white;
    border-style: none;
    border-right: 1px gray solid;
    background:none;
    outline: 0;
    box-shadow: none;
}

.remove-element-button{
    color: white;
    border-style: none;
    border-left: 1px gray solid;
    background:none;
    outline: 0;
    box-shadow: none;
}

.hidden{
    height:0;
    margin:0;
    transition: height 0.5s linear;
}
